In [14]:
import pymysql

In [15]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', charset='utf8')

In [16]:
cursor = conn.cursor()

In [28]:
cursor.execute('CREATE DATABASE flask_db;')

1

In [29]:
cursor.execute('show databases;')

    result = cursor.fetchall()
print(result)

(('information_schema',), ('budongsan',), ('employees',), ('fin_db',), ('flask_db',), ('gmarketdb',), ('mysql',), ('performance_schema',), ('sakila',), ('shopdb',), ('sqldb',), ('sys',), ('tabledb',), ('world',))

In [30]:
cursor.execute('use flask_db;')

0

In [49]:
cursor.execute('show tables;')
result = cursor.fetchall()
print(result)

(('member',),)

In [64]:
sql = """
create table if not exists member (
 `id` int(11) NOT NULL auto_increment primary key
);
"""

cursor = conn.cursor()
cursor.execute(sql)

0

In [77]:
sql = """
create table if not exists member (
 `id` int(11) not null auto_increment,
 `userid` varchar(50) not null,
 `pwd` varchar(200) not null,
 `name` varchar(20) default null,
 `email` varchar(50) default null,
 `regdate` datetime default null,
 primary key(`id`)
);
"""

cursor = conn.cursor()
cursor.execute(sql)

0

In [80]:
sql = """
insert into member values
(1, 'aaa', '1234', '아이유', 'aaa@aaa.co.kr', '2019-06-24'),
(2, 'bbb', '1234', '방탄소년', 'bbb@bbb.co.kr', 2019-06-24)
"""

cursor.execute(sql)

OperationalError: (1136, "Column count doesn't match value count at row 1")

In [23]:
cursor.execute('select * from member;')
result = cursor.fetchall()
result

ProgrammingError: (1146, "Table 'shopdb.member' doesn't exist")

In [24]:
sql = """
create table if not exist point_table(
`point_stu_idx` int(11) default null,
`point_stu_grade` varchar(50) default null,
`point_stu_kor` varchar(50) default null
)
"""
cursor.execute(sql)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'exist point_table(\n`point_stu_idx` int(11) default null,\n`point_stu_grade` varch' at line 1")

In [25]:
cursor.execute('select * from point_table')
result = cursor.fetchall()
result

ProgrammingError: (1146, "Table 'shopdb.point_table' doesn't exist")

In [26]:
sql = """
insert into point_table values
(2, '2', '90'),
(2, '3', '94'),
(1, '1', '89'):
"""

cursor.execute(sql)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ':' at line 4")